#sectionDown,
#sectionUp {
    background: rgb(255, 140, 0);
}

.content {
    flex-direction: column;
    position: absolute;
    width: 20%;
    display: flex;
    right: 0;
    text-align: end;
}

.dropdown-item {
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bold;
    font-size:20px
}